


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.body {
	background-color: #181a1b;
}


.sglogo {
	width: 250px;
}

.bg-image {
	background-image: url(./images/black_leather.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.jumbotron {
	background-color: rgb(35, 38, 39);
	padding: 2rem;
	
}

/*#landing2 {
	background-image: url(./images/black_leather.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}*/

#ecommerce {
	text-align: center;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
